<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>mybatis sample</title>
    <link rel="stylesheet" th:href="|${uriPrefix}/public/css/style.css|">
    <script th:src="|${uriPrefix}/public/js/jquery-3.1.1.min.js|"></script>
</head>
<style>

</style>
<body>
index page <br/>

<br/>

<input id="inputTest" type="text" size="30" value="before ready text"/>
<br/>
<script type="text/javascript">
    $(document).ready(function() {
        alert('before set text');
        $('#inputTest').val('set in document ready');
        alert('after set text');
    });
</script>
</body>
</html>
